* {
    box-sizing: border-box;
    font-family: Roboto, arial, sans-serif;
    color: #5f6368;
    margin: 0;
    font-size: 1em;
}

/* Menu start*/
.section_nav {
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid #e3e5e6;
}
.content {
    margin: 0 auto;
}
.nav_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 18px;
}
.icon_menu {
    padding: 10px;
    border-radius: 100%;
}
.icon_menu:hover{
    background-color: #e3e5e6;
}
.nav_content_menu {
    flex-grow: 1;
    padding: 5px 0;
}
.nav_menu_name {
    padding: 8px;
    font-size: 20px;
}
.nav_content_form {
    flex-grow: 2;
    display: flex;
    border-radius: 5px;
}
.nav_content_form:hover {
    box-shadow: 1px 1px 5px grey;
}
.nav_content_form_pre-input {
    background-color: #F1F3F4;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
.nav_content_form_input {
    flex-grow: 1;
    border: 0;
    background-color: #F1F3F4;
    font-size: 15px;
    color:#000;
}
.nav_content_form_pos-input {
    background-color: #F1F3F4;
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
}
.nav_content_form_input:focus {
    outline: none;
}
.nav_content_form_for-media {
    display: none;
    padding: 5px;
}
.nav_content_perfil {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
/* Menu end*/

@media only screen and (max-width: 720px) {
    /* Menu start*/
    .nav_content_form {
        justify-content: flex-end;
    }
    .nav_content_form:hover {
        box-shadow: none;
    }
    .nav_content_form_pre-input, .nav_content_form_input, .nav_content_form_pos-input{
        display: none;
        
    }
    .nav_content_form_for-media {
        display: block;
    }
    /* Menu end*/
}